body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*-------------
        adding header style
     --------------*/
    header{
        width: auto;
        background-color:#2D25A0;
        padding-top: 44px;
        padding-left: 100px;
    }
    nav{
        display: flex;
        justify-content:space-between;
        height: 44px;
        width: 1164px;
        align-content: center;
        align-items: center;
    }
    .menu a{
        text-decoration: none;
        color: white;
        font-size: 16px;
        padding: 10px 25px 10px 20px;
        font-weight: bold;
    }
    .btn{
        display: flex;
        background-color: #E02C6D;
        height: 44px;
        width: 123px;
        align-content: center;
        align-items: center;
    }
    .sub-btn{
        height: 44px;
        width: 168px;
    }
    .btn-icon{
        font-size:24px;
        color: white;
        padding-left: 20px;
    }
    .btn-text{
        font-size: 16px;
        color: white;
        padding-left: 10px;
        font-weight: lighter;
    }
    .btn-p{
        padding-left: 20px;
    }
    .header-section{
        display: flex;
        padding-top: 55px;
        padding-bottom: 145px;
        
    }
    .header-text{
        font-size: 50px;
        color: white;
        
    }
    .header-img img{
        height: 438px;
        width: 500px;
        padding-left: 160px;
    }
   
/*-------------
        adding main style
     --------------*/
     main{
         background-color: rgb(255, 255, 255);
     }
     .player{
         display: grid;
         grid-template-columns:repeat(3,1fr);
         grid-row-gap:5px;
         width: 1050px;
         grid-column-gap: 20px;
         grid-row-gap:20px;
         padding:50px 150px 40px 144px;
         
     }
     article{
         height: 474px;
         width: 330px;
        background-color: white;
        /* padding: 10px 10px 25px 10px; */
        box-shadow: 5px 5px 30px 3px rgb(202, 201, 201);
        padding-bottom: 15px;
        
        
     }
     .player-img img{
         height: 256px;
         width: 300px;
         padding-left: 15px;
         padding-top: 15px;
     }
     .player-info h3{
         font-size: 28px;
         padding-left: 15px;
     }
     .player-info p{
         color: #777777;
         padding-left: 15px;
         font-size: 16px;
         font-weight: 800;
        
     }
     /*-------------
        adding highlights style
     --------------*/
     .highlight{
        display: flex; 
        align-items: center;
        align-content: center;
        padding-left:137px ;
        padding-top: 139px;
        justify-content: space-between;
        padding-right: 120px;
        padding-bottom: 139px;
        
        
     }
     .heighlight-text h1{
        font-size: 48px;
     }
     .heighlight-text p{
        font-size: 16px;
        color: #6C6C6C;
        font-weight: 800;
     }
     .heighlights-img img{
         height:427px ;
         width: 567px;
         
     }
     /*-------------
        adding upcoming-match style
     --------------*/
     
     .section-header{
         font-size: 40px;
         text-align: center;
     }
     .all-match{
        background-color:cadetblue;
        width:1000px ;
        margin-left: 90px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-row-gap:10px;
        margin-bottom: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        align-items: center;
        align-content: center;
        margin-left: 170px;
        padding-right: 5px;
     }
     .match{
         background-color: rgb(236, 225, 198);
         width: 290px;
         height: 150px;
         border-radius: 10px;
         padding-left: 30px;
         margin-left: 10px;
         margin-top: 5px;
         line-height: 10px;
        
     }
     
     .date-time{
        display: flex;
        align-content: center;
        align-items: center; 
     }
     .date-time h3{
            line-height: 2px;
     }
     .match-heading,.date,.time{
         display: flex;
         align-content: center;
         align-items: center;
         
     }
     .football-icon , .date-img,.time-img{
         font-size: 30px;
         
     }
     .heading-text,.date-text h3,.time-text{
         font-size: 16px;
         padding-left: 10px;
         /* line-height: 20px; */
     }
     .text{
        font-size: 20px;

     }
     /*-------------
        adding  WordCup Champion style
     --------------*/
     .champions{
         background-color: rgba(145, 109, 109, 0.274);
         display: grid;
         grid-template-columns: repeat(3,1fr);
         width: 1070px ;
         grid-row-gap: 25px;
         padding-top: 15px;
         align-items: center;
         align-content: center;
         padding-left: 25px;
         margin-left: 125px;
         padding-bottom: 15px;
         border-radius: 15px;
         margin-bottom: 20px;
     }
     .year-winner{
        background-color: aqua;
        width: 325px;
        height: 130px; 
        padding-top: 10px; 
        padding-left: 10px;
        font-weight: bolder;
        border-radius: 15px;
        
     }
     
     .winner , .year , .runner-up{
         height: 35px;
         display: flex;
         align-items: center;
        align-content: center;
     }
     .stdi h3{
         height: 20px;
         font-size: 20px;

     }
     .winner-text h3{
         font-size: 20px;
         padding-left: 5px;
         margin-top: 0;
         padding-top: 0;
     }
    .tropy,.fas{
        font-size: 25px;
        padding-left: 5px;
        
    }
    .fa-trophy{
        color: rgb(235, 220, 18);
    }
    .year,.runner-up h3{
        font-size: 20px;
        padding-left: 5px;
    }
    .fa-sad-tear{
        font-size: 25px;
        padding-left: 5px;
    }
    /*-------------
    adding  footer style
 --------------*/
 footer{
     display: grid;
     justify-content: center;
     align-items: center;
     align-content: center;
     padding-bottom: 100px;
     padding-top: 250px;
 }
 .logo img{
     height:110px ;
     width:483px ;
    
 }
 .socal-icon{
     padding-left: 170px;
 }
 .socal-icon img{
     height: 32px;
     width: 32px;
     padding-left: 10px;
    
     
 }
 .copyright{
     height: 31px;
     width:auto;
     display: flex;
     align-content: center;
     align-items: center;
     padding-left: 100px;
     padding-top: 40px;

 }
 .copyright h2{
     font-weight:600;
 }
 .fa-copyright{
     font-size: 20px;
     padding-left: 5px;
     padding-right: 5px;
 }